nav{
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 2px 2px gainsboro;
}
.banner{
    color: white;
}
.cart-layout{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    color: white;
}