.productList{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px;
    /* align-items: center; */
    justify-content: center;
}